################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebPageTemplateGenerator/obj/x86/Debug
/WebPageTemplateGenerator/bin/Debug
